<app-header></app-header>
<div class="row pt-5">
    <section class="col-9">
        <router-outlet></router-outlet>
    </section>

    <aside class="col mx-5">
        <h3>Acesso rápido</h3>
        <div class="row fs-4">
            <p-button class="my-2" routerLink="xhurrasco/pessoas" label="Pessoas">
            </p-button>
            <p-button class="my-2" routerLink="xhurrasco" label="Xhurrasco"></p-button>
            <p-button class="my-2" routerLink="xhurrasco/comidas" label="Comidas"></p-button>
        </div>
    </aside>
</div>
<app-footer></app-footer>