<div class="row" [formGroup]="local">
    <label>Rua</label>
    <input pInputText formControlName="rua" />

    <label>Numero</label>
    <input pInputText formControlName="numero" />

    <label>CEP</label>
    <input pInputText formControlName="cep" />

    <label>Complemento</label>
    <input pInputText formControlName="complemento" />

    <label>Cidade</label>
    <input pInputText formControlName="cidade" />

    <label>Estado</label>
    <input pInputText formControlName="estado" />

    <label for="vagas">Vagas</label>
    <input pInputText formControlName="vagas" />

    <label>Limite de pessoas</label>
    <input pInputText formControlName="limite" />

    <label>Aluguel</label>
    <input pInputText formControlName="aluguel" />

    <p-button class="text-end py-3" label="Criar local"></p-button>
</div>