<div [formGroup]="local">
    <p-inputGroup>
        <p-floatLabel>
            <input pInputText formControlName="rua" />
            <label>Rua</label>
        </p-floatLabel>
        <p-floatLabel>
            <input pInputText formControlName="numero" />
            <label>Numero</label>
        </p-floatLabel>
        <p-floatLabel>
            <input pInputText formControlName="numero" />
            <label>CEP</label>
        </p-floatLabel>
        <p-floatLabel>
            <input pInputText formControlName="complemento" />
            <label>Complemento</label>
        </p-floatLabel>
        <p-floatLabel>
            <input pInputText formControlName="cidade" />
            <label>Cidade</label>
        </p-floatLabel>
        <p-floatLabel>
            <input pInputText formControlName="estado" />
            <label>Estado</label>
        </p-floatLabel>
        <p-floatLabel>
            <input pInputText formControlName="vagas" />
            <label>Vagas</label>
        </p-floatLabel>
        <p-floatLabel>
            <input pInputText formControlName="limite" />
            <label>Limite de pessoas</label>
        </p-floatLabel>
        <p-floatLabel>
            <input pInputText formControlName="aluguel" />
            <label>Aluguel</label>
        </p-floatLabel>
    </p-inputGroup>

</div>