<section class="container">
    <div class="row">
        <h2 class="col">Cadastradas</h2>
        <a class="col text-end" routerLink="cadastrar"><i class="pi pi-plus"></i></a>
    </div>
    <div *ngIf="pessoas.length > 0; else semPessoas">
        <div class="pessoa row" *ngFor="pessoa of pessoas; index as i">
            <!-- Informações da pessoa -->
            <div class="icon col-10">
                <div class="row">
                    <i class="pi pi-user "></i>
                    <p>{{pessoas[i].nome}}</p>
                </div>
                <div class="row">
                    <i class="pi pi-phone"></i>
                    <p>{{pessoas[i].telefone}}</p>
                </div>
            </div>
            <!-- Botoes de intereção -->
            <div class="col ">
                <div class="row text-end">
                    <p-inputSwitch (onChange)="onClick()" />
                    <p>{{convidado}}</p>
                    <a routerLink="editar"><i class="pi pi-pencil"></i></a>
                </div>
            </div>
        </div>
    </div>
    <ng-template #semPessoas>
        <p>Não tem ninguém pro churras</p>
    </ng-template>
</section>